<div class="page-wrapper flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card p-4 mt-2 form">
          <div class="card-header text-center h4">
            <h1>Register</h1>
          </div>
          <form (ngSubmit)="save()" [formGroup]="registerForm">
            <div class="card-body py-5">
              <div class="form-group">
                <label class="form-control-label" for="Username"
                  >Username</label
                >
                <input
                  id="Username"
                  type="text"
                  class="form-control"
                  [formControl]="username"
                  placeholder="Username"
                />
                <div
                  [hidden]="username.valid || username.untouched"
                  class="text-danger"
                >
                  <div [hidden]="!username.hasError('required')">
                    Username is required
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="form-control-label" for="Password"
                  >Password</label
                >
                <input
                  id="Password"
                  class="form-control"
                  type="password"
                  [formControl]="password"
                  placeholder="Password"
                />
                <div
                  [hidden]="password.valid || password.untouched"
                  class="text-danger"
                >
                  <div [hidden]="!username.hasError('required')">
                    Password is required
                  </div>
                </div>
              </div>
              <!-- <div class="form-group">
                <label
                  class="form-control-label"
                  [formControl]="ConfirmPassword"
                ></label>
                <input
                  class="form-control"
                  type="password"
                  asp-for="ConfirmPassword"
                  placeholder="Confirm Password"
                />
              </div> -->
              <div class="form-group">
                <label class="form-control-label" for="Email">Email</label>
                <input
                  id="Email"
                  type="text"
                  class="form-control"
                  [formControl]="email"
                  placeholder="Email"
                  email
                />
                <div
                  [hidden]="email.valid || email.untouched"
                  class="text-danger"
                >
                  <div [hidden]="!username.hasError('required')">
                    Email is required
                  </div>
                  <div [hidden]="!email.hasError('email')">
                    Enter correct email
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 form-group">
              <button
                type="submit"
                class="btn btn-block rounded btn-primary px-5"
                [disabled]="!registerForm.valid"
              >
                Next
              </button>
            </div>
            <div class="col-12 form-group">
              <a class="btn btn-block px-5 rounded" routerLink="/LogIn"
                >Log in</a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
