<header>
  <nav
    class="
      navbar navbar-expand-sm navbar-toggleable-sm navbar-light
      bg-dark
      border-bottom
      box-shadow
      mb-3
    "
  >
    <div class="container">
      <a class="navbar-brand text-primary" href="">AngRegApp</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="
          navbar-collapse
          collapse
          d-sm-inline-flex
          justify-content-between
        "
      >
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a
              class="nav-link text-light"
              routerLink="/Home"
              routerLinkActive="active"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-light"
              routerLink="/Register"
              routerLinkActive="active"
              >Register</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link text-light"
              routerLink="/LogIn"
              routerLinkActive="active"
              >LogIn</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="container">
  <main role="main" class="pb-3">
    <router-outlet></router-outlet>
  </main>
</div>

<footer class="border-top footer text-muted fixed-bottom p-4 bg-dark">
  <div class="container text-white">
    &copy; 2021 - AngRegApp - <a href="#">Privacy</a>
  </div>
</footer>
